.app-header {
    background-color: var(--clr1);
    color: var(--clr1bg);
    padding-block: 1em;
}

.app-header.main-layout {
    display: flex;
    justify-content: space-between;
    /* left + right separation */
    align-items: center;
}

nav a {
    padding: 20px;
    font-size: 20px;
}

nav .active {
    color: lightcoral;
}