.book-list {
    padding: 20px;
}

.book-grid {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    padding: 10px;
    scroll-snap-type: x mandatory;
}

.book-card {
    background: lightpink;
    padding: 20px;
    text-align: center;
    flex: 0 0 220px;
    border-radius: 12px;
    width: 220px;
}